<main class="container">
  <h1>{{ title }}</h1>
  <form class="form" #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        ngModel
        required
        #email="ngModel"
      />
      <p *ngIf="!email.valid && email.touched" class="form__field__warning">
        Please, enter a valid email
      </p>
    </div>
    <div class="form__field">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        ngModel
        required
        #password="ngModel"
      />
      <p
        *ngIf="!password.valid && password.touched"
        class="form__field__warning"
      >
        Please, type your password
      </p>
    </div>
    <div class="form__field">
      <label for="subscription">Select the Level of your Subscription</label>
      <select
        name="subscription"
        id="subscription"
        [ngModel]="defaultSubscription"
      >
        <option value="basic">Basic</option>
        <option value="advanced">Advanced</option>
        <option value="pro">Pro</option>
      </select>
    </div>
    <button class="form__button" [disabled]="!userForm.valid">Submit</button>
  </form>
  <div *ngIf="submitted">
    <p>Email: {{ user.email }}</p>
    <p>Password: {{ user.password }}</p>
    <p>Subscription: {{ user.subcription }}</p>
  </div>
</main>
